<div class="section">
    <h1><%= current_user.name %> Recipes</h1>
        <%@recipes.each do |recipe|%>
            <ul class="recipe">
              <li>
                <%= link_to "#{recipe.name}", recipe_path(recipe) %>
                <%= link_to 'Remove', root_path, class: "remove" %>
              </li>
              <li>
                <%= recipe.description %>
              </li>
            </ul>
        <%end%>
    <%= link_to new_recipe_path do %>
       <button>New Recipe</button>
    <% end %>
</div>