<h1>New recipe</h1>

<%= form_with model: @recipe, url: recipes_path, method: :post, class: 'form' do |form| %>
  <div>
    <%= form.label :name, 'Name' %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :preparation_time, 'Preparation time' %><br>
    <%= form.text_field :preparation_time %>
  </div>

  <div>
    <%= form.label :cooking_time, 'Cooking time' %><br>
    <%= form.text_field :cooking_time %>
  </div>

  <div>
    <%= form.label :description, 'Description' %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :public %><br>
    <%= form.check_box :public %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>
<div>
  <%= link_to "Back to recipes", recipes_path %>
</div>